[Desktop Entry]
Type=Application
Version=1.0
Name=Synergy
Comment=Keyboard and mouse sharing solution
Icon=synergy
Path=/usr/bin
Exec=synergy
Terminal=false
Categories=Utility;
Keywords=keyboard;mouse;sharing;network;share;

